@model Hotel.Models.Reserva

@{
    ViewData["Title"] = "Checkin";
}

<h1>Checkin</h1>

<div>
    <h4>Reserva</h4>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataEntrada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataEntrada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataSaida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataSaida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.quarto.Numero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.quarto.Numero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FezCheckin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FezCheckin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IncluiCafe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IncluiCafe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorPago)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorPago)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorTotal)
        </dd>


        <form asp-action="ConfirmarCheckin" method="post">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Confirmar Checkin" class="btn btn-primary" />
        </form>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>